<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="settings"><i id="showSettings" class="fa fa-gear" style="font-size:36px;"></i>
    <div id="popup" hidden>
        <div>
            <label for="ncol">Patient par lignes</label><input id="ncol" class="settingsInput" type="text" name="display.colQty" value="<%= settings["display.colQty"] %>"> <br/>
            <label for="displayNoWarnings">Afficher les etats normal (fenetre patient)</label><input id="displayNoWarnings" class="settingsInput" type="checkbox" name="showGreen" value="on" onclick="checkboxDisplayNoWarnings(this)">
            <button id="send">Appliquer</button>
        </div>
    </div>
</div>

<div style="border-bottom: black solid 1px">
    <div style="float: left">
        <label for="print">Valeures</label>
        <div id="print">
            <button id="printSPO2">SpO2</button>
            <button id="printBPM"> BPM </button>
            <button id="changePage"> Tourner </button>
        </div>
    </div>
    <h1 style="width: 100%;text-align: center" id="title">Dashboard - SpO2</h1>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<div id="data">
</div>

<table>
    <tbody id="tbody">
        <!--
        <tr>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
            <th>
                <div class="nom">Foo Bar</div>
                <div class="oxygen">85%</div>
                <div class="chambre">D098</div>
            </th>
        </tr>--------->
    </tbody>
</table>

<style>
    th {
        padding: 2px;
    }

    table {
        width: 100%;
    }

    .oxygen {
        font-size: <%= (0-(40*settings["display.colQty"]))+600 %>%; // 10/row -> 200 | 5/row -> 400
    }

    .nom, .chambre {
        font-size: <%= ((0-(40*settings["display.colQty"]))+600) / 2 %>%;
    }

    .settings {
        float: right;
        margin-right: 10px;
        margin-top: 5px;
    }

    #popup {
        border: black solid 1px;
        position: fixed;
        right: 1%;
        background-color: white;
        width: 15%;
    }

    #popup > div {
        margin: 20px;
    }

    #send {
        margin-top: 30px;
    }
</style>

<script>
    //////////////////// DEFINE /////////////

    var colors = {}

    colors.normal = "rgba(55,210,67,0.56)"
    colors.warning = "rgba(210,176,55,0.56)"
    colors.problem = "rgba(210,55,55,0.56)"
    colors.critical = "rgba(255,0,0,0.78)"
    colors.unknown = "rgba(230,0,255,0.72)"

    /////////////////////////////////////////

    document.getElementById("showSettings").onclick = () => {
        document.getElementById("popup").hidden = !document.getElementById("popup").hidden;
    }

    var settingsInput = document.getElementsByClassName("settingsInput");
    var canRefresh = true;

    /*Array.from(settingsInput).forEach( e => {
        e.onchange = () => {
            canRefresh = false
            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                canRefresh = true;
            }

            console.log(e.value);
            var value = e.value;

            if(e.name === "showGreen") {
                switch(e.value) {
                    case "on":
                        value = 1;
                        break;
                    case "off":
                        value = 0;
                        break;
                }
            }

            console.log(e.name+" "+value)

            req.open("POST", "/settings?"+e.name+"="+value, true);
            req.send();
        }
    })*/

    document.getElementById("ncol").onchange = () => {
        var e = document.getElementById("ncol");
        canRefresh = false
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            canRefresh = true;
        }

        req.open("POST", "/settings?"+e.name+"="+e.value, true);
        req.send();
    }

    var disableOnClick = true;
    if(<%= settings["showGreen"] ? 0:1 %>) document.getElementById("displayNoWarnings").click()
    setTimeout(() => {
        disableOnClick = false;
    }, 250);

    function checkboxDisplayNoWarnings (that) {
        if (!disableOnClick) {
            canRefresh = false
            var req = new XMLHttpRequest();
            req.onreadystatechange = function () {
                canRefresh = true;
                console.log("Finished : " + this.responseText);
            }

            console.log($(that).prop('checked'));
            var value = 0;

            switch (!$(that).prop('checked')) {
                case true:
                    value = 1;
                    break;
                case false:
                    value = 0;
                    break;
            }

            var urL = "/settings?showGreen=" + value.toString();

            console.log(urL)

            req.open("POST", urL, false);
            req.send();
        } else {
            console.log("onclick disabled");
        }
    }

    document.getElementById("send").onclick = () => {
        if(!canRefresh) {
            while(true){
                if(canRefresh) break;
            }
        }

        location.reload();
    }

    /////////////////////////////////////////
    var placeholder = document.getElementById("data");

    var table = document.getElementById("tbody");

    var printing = 0;
    /*
     * 0 : SpO2
     * 1 : BPM
     */

    function print(data) {
        // placeholder.innerText = data;
        // console.log(data);

        data = JSON.parse(data)

        data.forEach(e => {
            var _dom = document.getElementById(e.id.toString())
            if(_dom === null) {
                console.log("sth is missing")
                table.innerHTML = ""; //cleanup
                init(data);
            } else {
                _dom.onclick= () => {window.location.href="/patient?"+e.id.toString();}
                switch (printing) {
                    case 0:
                        var color = colors.normal;
                        switch(e.OXYlevel) {
                            case 0:
                                color = colors.normal;
                                break;
                            case 1:
                                color = colors.warning;
                                break;
                            case 2:
                                color = colors.problem;
                                break;
                            case 3:
                                color = colors.critical;
                                break;
                            case 4:
                                color = colors.unknown;
                        }
                        _dom.style.backgroundColor = color;
                        _dom.innerHTML = "<div class=\"nom\">"+e.name+"</div><div class=\"oxygen\">"+e.concentration+"</div><div class=\"chambre\">"+e.chambre+"</div>"
                        break;
                    case 1:
                        var color = colors.normal;
                        switch(e.PULSElevel) {
                            case 0:
                                color = colors.normal;
                                break;
                            case 1:
                                color = colors.warning;
                                break;
                            case 2:
                                color = colors.problem;
                                break;
                            case 3:
                                color = colors.critical;
                                break;
                            case 4:
                                color = colors.unknown;
                        }
                        _dom.style.backgroundColor = color;
                        _dom.innerHTML = "<div class=\"nom\">"+e.name+"</div><div class=\"oxygen\">"+e.pulsation+"</div><div class=\"chambre\">"+e.chambre+"</div>"
                        break;
                }
            }
        })
    }

    document.getElementById("printSPO2").onclick = () => {
        turn_stop = true;
        printing = 0;
        table.innerHTML = ""; //cleanup
        document.getElementById("title").innerText = "Dashboard - Sp02"
        refresh();
    }

    document.getElementById("printBPM").onclick = () => {
        turn_stop = true;
        printing = 1;
        table.innerHTML = ""; //cleanup
        document.getElementById("title").innerText = "Dashboard - BPM"
        refresh();
    }

    var state = false;

    function turn() {
        if(state) {
            printing = 0;
            table.innerHTML = ""; //cleanup
            document.getElementById("title").innerText = "Dashboard - Sp02"
            refresh();
        } else {
            printing = 1;
            table.innerHTML = ""; //cleanup
            document.getElementById("title").innerText = "Dashboard - BPM"
            refresh();
        }
        state = !state;
        if(!turn_stop) {
            setTimeout(turn, <%= settings["turnPeriod"]%>);
        }
    }

    document.getElementById("changePage").onclick = () => {
        turn_stop = false;
        turn();
    }

    function init(data) {
        var toPrint = [[]]
        var x = 0;
        var y = 0;

        data.forEach(e => {
            if(x< <%= settings["display.colQty"] %> ) {
                toPrint[y].push(e)
            } else {
                toPrint.push([e])
                y += 1;
                x = 0;
            }
            x += 1;
        });

        toPrint.forEach( elements => {
            tr = document.createElement("tr");
            tr.id = "tr#"+x;
            elements.forEach( element => {
                th = document.createElement("th");

                th.id = element.id
                var color = colors.normal;
                switch(element.level) {
                    case 0:
                        color = colors.normal;
                        break;
                    case 1:
                        color = colors.warning;
                        break;
                    case 2:
                        color = colors.problem;
                        break;
                    case 3:
                        color = colors.critical;
                        break;
                    case 4:
                        color = colors.unknown;
                }
                th.onclick = () => {window.location.href="/patient?"+element.id.toString();}
                th.style.backgroundColor = color
                th.innerHTML = "<div class=\"nom\">"+element.name+"</div><div class=\"oxygen\">"+element.concentration+"</div><div class=\"chambre\">"+element.chambre+"</div>"

                tr.appendChild(th);
            })
            x += 1;
            table.appendChild(tr);
        })
    }

    function refresh() {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                print(this.responseText);
                // console.log("refreshed");
            }
        }
        req.open("POST", "/", true);
        req.send();
    }

    function loop() {
        setTimeout(loop, 500);
        refresh();
    }

    loop();
</script>